/* font-family: "ArialBold"; */
@font-face {
	font-family: "ArialBold";
	src: url("../fonts/ArialBold/arialbd.eot");
	src: url("../fonts/ArialBold/arialbd.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ArialBold/Arial-BoldMT.woff") format("woff"),
	url("../fonts/ArialBold/Arial-BoldMT.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "ArialNarrow"; */
@font-face {
	font-family: "ArialNarrow";
	src: url("../fonts/ArialNarrow/ARIALN.TTF.eot");
	src: url("../fonts/ArialNarrow/ARIALN.TTF.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ArialNarrow/ArialNarrow.woff") format("woff"),
	url("../fonts/ArialNarrow/ArialNarrow.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "MyriadProSemibold"; */
@font-face {
	font-family: "MyriadProSemibold";
	src: url("../fonts/MyriadProSemibold/MyriadPro-Semibold.eot");
	src: url("../fonts/MyriadProSemibold/MyriadPro-Semibold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/MyriadProSemibold/MyriadPro-Semibold.woff") format("woff"),
	url("../fonts/MyriadProSemibold/MyriadPro-Semibold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "OpenSansExtraBold"; */
@font-face {
	font-family: "OpenSansExtraBold";
	src: url("../fonts/OpenSansExtraBold/OpenSans-ExtraBold.eot");
	src: url("../fonts/OpenSansExtraBold/OpenSans-ExtraBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/OpenSansExtraBold/OpenSans-Extrabold.woff") format("woff"),
	url("../fonts/OpenSansExtraBold/OpenSans-Extrabold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "PassionOneRegular"; */
@font-face {
	font-family: "PassionOneRegular";
	src: url("../fonts/PassionOneRegular/PassionOne-Regular.eot");
	src: url("../fonts/PassionOneRegular/PassionOne-Regular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/PassionOneRegular/PassionOne-Regular.woff") format("woff"),
	url("../fonts/PassionOneRegular/PassionOne-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "TrebuchetMS"; */
@font-face {
	font-family: "TrebuchetMS";
	src: url("../fonts/TrebuchetMS/trebuc.eot");
	src: url("../fonts/TrebuchetMS/trebuc.eot?#iefix")format("embedded-opentype"),
	url("../fonts/TrebuchetMS/TrebuchetMS.woff") format("woff"),
	url("../fonts/TrebuchetMS/TrebuchetMS.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}